<li onclick="my_conversation(event)" data-id="<%= userid %>" data-subtitle="<%= sub_title %>" data-conversationtype="<%= conversation_type %>" data-conversationid="<%= conversation_id %>" data-name="<%= users_name %>" data-img="<%= users_img %>" id="conv<%= conversation_id %>" class="selected">
	<span class="online"></span> <span class="usersName"><%= users_name %></span>
	<span class="sub-text">- It's you!</span>
</li>
